@model CourseGrades

<div class="row">
    <div class="col my-3">

        <div style="margin-bottom:10px">
            <h4>Course Name</h4>
            @Model.gradeDetails.courseName
        </div>

        <div style="margin-bottom:10px">
            <h4>Course Description</h4>
            @Model.gradeDetails.courseDescription
        </div>

        <div style="margin-bottom:10px">
            <h4>Grade</h4>
            @Model.gradeDetails.grade
        </div>

        <div style="margin-bottom:10px">
            <h4>Comments</h4>
            @Model.gradeDetails.comments
        </div>

        <div style="margin-top:20px">
            <form asp-controller="Grades" asp-action="SelectCategory">
                <input type="hidden" asp-for="@Model.categoryID" value="@Model.gradeDetails.categoryID" />
                <button type="submit" name="btnDescription" class="btn btn-success">Go Back</button>
            </form>
        </div>
        
    </div>
</div>