@model CourseGrades

<div class="row my-3">
    <div class="col">
        <form asp-controller="Grades" asp-action="SelectCategory">
            <select id="lstCategory" class="btn btn-success form-control text-left" 
                style="max-width: 250px; !important;" 
                asp-for="categoryID"
                asp-items="@Model.categoryList"
                onchange="this.form.submit();"></select>
        </form>
        <form asp-controller="Grades" asp-action="Add" class="my-2">
            <input type="hidden" asp-for="@Model.categoryID" value="@Model.categoryID" />
            <input type="submit" value="Add New" class="btn btn-success" />
        </form>
    </div>
</div>

<div class="row">
    <div class="col">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Grade</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.count == 0) {
                    <tr><td colspan="3">No courses in database...</td></tr>
                } else {
                    foreach (var item in Model.grades) {
                        <tr>
                            <td><a asp-controller="Grades" asp-action="Details" asp-route-gradeID="@item.gradeID" class=”text-success”>@item.courseName</a></td>
                            <td>@item.grade%</td>
                            <td>@item.comments</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class="col"><h4>Total Courses: @Model.count</h4></div>
</div>